In [2]:
import pandas as pd
import numpy as np



#entries = os.listdir('F:/female/')
"F:\female\0002.txt"

In [219]:

#creating labels

import os
directory = 'F:/female/'

ratings= []


for file_name in os.listdir(directory):
    if file_name.endswith(".txt"):
        with open(os.path.join(directory,file_name),"r") as f:
            f_cont = f.readline()
            ratings.append(f_cont)

In [220]:
ratings2 =[x.replace('\n','') for x in ratings]

In [221]:
file= []


for file_name in os.listdir('F:/female/'):
    if fnmatch.fnmatch(file_name, '*.txt'):
        y = str(file_name)
        file.append(y)

In [222]:
file2 =[x.replace('.txt','') for x in file]

In [196]:
df = pd.DataFrame(list(zip(file2, ratings2)), 
               columns =['file', 'ratings'])

In [197]:
df.head(5)

   file ratings
0  0001     9.3
1  0002     9.6
2  0003     7.3
3  0004     8.3
4  0005     9.5

In [198]:
df.dtypes

file       object
ratings    object
dtype: object

In [199]:
df['int_rating'] = df['ratings'].astype(float)

In [200]:
df.head(5)

   file ratings  int_rating
0  0001     9.3         9.3
1  0002     9.6         9.6
2  0003     7.3         7.3
3  0004     8.3         8.3
4  0005     9.5         9.5

In [201]:
df.dtypes

file           object
ratings        object
int_rating    float64
dtype: object

In [208]:
df['int_rating'].max()

9.9

In [203]:
df_goodlooks = df[df['int_rating'] >= 8.7]

In [204]:
df_goodlooks.shape

(555, 3)

In [205]:
df_avglooks = df[df['int_rating'] < 8.7]

In [206]:
df_avglooks.shape

(445, 3)

In [209]:
good_looks = []

for i in df_goodlooks['file']:
    good_looks.append(i)

In [216]:
#folder for good
dest ='F:/HotOrNot/Good/'
import shutil
for i in good_looks:
    for file_name in os.listdir(directory):
        if file_name.startswith(i):
            #print(file_name)
            shutil.move(os.path.join(directory,file_name),dest)

In [217]:
#folder for average
avg_looks = []

for i in df_avglooks['file']:
    avg_looks.append(i)

In [218]:
dest ='F:/HotOrNot/Average/'
import shutil
for i in avg_looks:
    for file_name in os.listdir(directory):
        if file_name.startswith(i):
            #print(file_name)
            shutil.move(os.path.join(directory,file_name),dest)