In [5]:
import pandas as pd
import numpy as np

import fnmatch
import os

In [6]:

#Extracting ratings from text files

directory = 'F:/male/'

ratings= []


for file_name in os.listdir(directory):
    if file_name.endswith(".txt"):
        with open(os.path.join(directory,file_name),"r") as f:
            f_cont = f.readline()
            ratings.append(f_cont)

In [7]:
ratings2 =[x.replace('\n','') for x in ratings]

##

In [8]:
#Extracting file names 
file= []


for file_name in os.listdir('F:/male/'):
    if fnmatch.fnmatch(file_name, '*.txt'):
        y = str(file_name)
        file.append(y)

In [9]:
ratings

[]

In [ ]:
file2 =[x.replace('.txt','') for x in file]
file2

In [290]:
df = pd.DataFrame(list(zip(file2, ratings2)), 
               columns =['file', 'ratings'])

In [291]:
df.head(5)

   file ratings
0  0001     9.6
1  0002     9.8
2  0003     8.1
3  0004     9.8
4  0005     8.3

In [292]:
df.dtypes

file       object
ratings    object
dtype: object

In [293]:
df['int_rating'] = df['ratings'].astype(float)

In [294]:
df.head(5)

   file ratings  int_rating
0  0001     9.6         9.6
1  0002     9.8         9.8
2  0003     8.1         8.1
3  0004     9.8         9.8
4  0005     8.3         8.3

In [295]:
df.dtypes

file           object
ratings        object
int_rating    float64
dtype: object

In [296]:
df['int_rating'].mean()

9.089499999999996

In [297]:
#classifying the goof pictures based on rating
df_goodlooks = df[df['int_rating'] >= 9]

In [298]:
df_goodlooks.shape

(636, 3)

In [299]:
df_avglooks = df[df['int_rating'] < 9]

In [300]:
df_avglooks.shape

(364, 3)

In [301]:
#Good
good_looks = []

for i in df_goodlooks['file']:
    good_looks.append(i)

In [302]:
#folder for good
dest ='F:/HotOrNot/Training/Good/'
import shutil
for i in good_looks:
    for file_name in os.listdir(directory):
        if file_name.startswith(i):
            #print(file_name)
            shutil.move(os.path.join(directory,file_name),dest)

In [303]:
# Average
avg_looks = []

for i in df_avglooks['file']:
    avg_looks.append(i)

In [304]:
#folder for good
dest ='F:/HotOrNot/Training\Average/'
import shutil
for i in avg_looks:
    for file_name in os.listdir(directory):
        if file_name.startswith(i):
            #print(file_name)
            shutil.move(os.path.join(directory,file_name),dest)